.name{
    font-size: xx-large;
    font-weight: 500;
    overflow: auto;
    margin-top: 30px;
}

.picture{
    width: 500px;
    height: auto;
    border-radius: 50%;
    margin-top: 60px;
}

.AboutMeSection{
   padding-left: 9em;
   padding-right: 9em;
}

.AboutMe{
    font-size: xx-large;
    font-weight: 700;

}

.AboutMeText{
    padding-top: 2em;
}