<app-nav></app-nav>
<div fxLayout="column" fxLayoutAlign="center center" style="height: 1000px;">
    <img class = picture src="/assets/Image1.png">
    <div class = "AboutMeSection">
        <div class="AboutMe">About Me</div>
            <div class="AboutMeText">
                My name is Abdullah Salous and I am a senior at the University of Oklahoma studying computer science with a minor in mathematics. My passions are technology, graphic design, physical fitness, community service, and connecting with others. I am interested in Data science and hope to one day impact others lives by technology.
            </div>
    </div>
</div>